<div class="container">
  <div class="row">
    <div align="center", color="red"><h2>AFTER SQUART</h2></div>

    <p align="right">나의 프로필 <a href="#" target="_blank">'go'</a>
    </p>
    <hr>
    <section id="pinBoot">

      <article class="white-panel"><img src="http://cfile6.uf.tistory.com/image/0133944D51EAB53F252922" alt="">
        <h4><a href="#">공지</a></h4>
        <p>
게으름에 대한 하늘의 보복은 두 가지가 있다. 하나는 자신의 실패요, 하나는 그가 하지 않은 일을 한 옆 사람의 성공이다.      - 르나르</p>
      </article>
      

     
      <% @posts.each do |p|%>
      <article class="white-panel">
      <img src="<%=p.image_url%>" alt="">
      <h4><a href="/posts/<%=p.id%>"><%=p.title%></a></h4>
      <p><%=p.content%></p>
      </article>
      <%end%>
      

    </section>

      <div align="right">  <%= link_to '글쓰러가기', new_post_path%> </div>
    <hr>


  </div>
  <p>
    <a href="https://www.facebook.com/profile.php?id=100010297664628" target="_blank"><small>contact me</small><sup>☆</sup></a>
    <br>
    <br>

  </p>
</div>





