
<div data-role="page" id="page_main">
       <div data-role="header">
           <h1 class="logo" style="font-size:15px; font-weight:600;">AfterSquat</h1>
       </div> 
       
       
       
    <div  data-role="content">
            
            <a href="/users/<%=@post.user.id%>"><h4><%= @post.user.username %></h4><br></a>
            
            <img class="show" src="<%=@post.image_url%>">
            <%= @post.title %> <hr>
            <%= @post.content %>
            <hr>
            <!--                    댓글                       -->
            <div id="comments">
              <h3><%= @post.comments.count %> Comments</h3>
          
          
          <%= render @post.comments %><hr>
           
              
              <h3>댓글쓰깅</h3>
              <% if user_signed_in?%>
              <%= render "comments/form" %>
              <%else%>
              <a href="/users/sign_in"><h5>로그인을 먼저하세용!</h5></a>
              <%end%>
            </div>
            
            <hr>
            <hr>
            
                <% if @post.user == current_user %>
                <%= link_to '수정하러가기', edit_post_path %>
                <%= link_to '삭제하기', post_path, method: :delete, data: {confirm: "진짜?"}%>
                <%end%>
            
    </div>
          
          
    <div data-role="footer" data-position="fixed">
      <div data-role="navbar">
        <ul>
           <li><a href="/"  data-icon="back"></a></li>
       </ul>
      </div>
    </div> 
       
</div>

    